doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', href='/favicon-196x196.png', sizes="196x196")
    link(rel='icon', href='/favicon-160x160.png', sizes="160x160")
    link(rel='icon', href='/favicon-96x96.png', sizes="96x96")
    link(rel='icon', href='/favicon-16x16.png', sizes="16x16")
    link(rel='icon', href='/favicon-32x32.png', sizes="32x32")
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato', type='text/css')
    meta(name='msapplication-TileColor', content="#ffffff")
    meta(name='msapplication-TileImage', content="/mstile-144x144.png")
    meta(name='description', content='Computational design / Creative technologies')
    meta(name='og:url', content='http://www.attractor.in/')
    meta(name='og:image', content='http://www.attractor.in/images/a_black_nogl.png')
    meta(name='og:description', content='Computational design / Creative technologies')
    meta(name='twitter:image' content='http://www.attractor.in/images/a_black_nogl.png')
    meta(name='twitter:title', content='Attractor') 
    meta(name='twitter:description', content='Computational design / Creative technologies') 
    script(src = '//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53b836ff561d6a2e')
  body
    block content
    #top_line
    #text_left Computational design / Creative technologies
    #social_layer
      #text_right attrctr@gmail.com
      .addthis_toolbox
        a.addthis_button_facebook
          #fb_ico
        a.addthis_button_twitter
          #twitter_ico

